menu {
	padding: 0;
}

#map {	
	height: 400px;
}

.data-filter {
	margin-bottom: 5px;
}

body {
	background-color: rgba(48, 107, 29, 0.44);
	min-width: 650px;
}

.loading-spinner {
	position: absolute;
    left: 15%;
    z-index: 9999;
    top: 300px;
}


button {
	background-color: cornflowerblue;
}

li {
	list-style: decimal;
}

.venue-item {
	margin-bottom: 10px;
}

.venues-list, #map {
	margin-top: 15px;
}